
/*//////////////////MODULE FLEX BOXES////////////////////*/
.moduleContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.moduleImage{
  width: 25vw;
}

.moduleText{
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  width: 25vw;
}


.moduleText{
  padding-left: 2rem;
}

.left{
  justify-content: flex-start;
}

.center{
  justify-content: center;
}

.right{
  justify-content: flex-end;
}

.inverse{
  padding-right: 2rem;
}

.inverse .moduleText{
  padding-left: 0;
  padding-right: 2rem;
}
/*/////////////////// END MODULE FLEX BOXES////////////////////*/


/*/////////////////// START MODULE TEXT ////////////////////*/
h1{
  text-align: center;
}

.moduleDescription{
  text-align: center;
  margin: 0rem 10vw 5vh 10vw;
}
/*/////////////////// END MODULE TEXT////////////////////*/


/*/////////////////// START MODULE PREV-NEXT BUTTONS ////////////////////*/
.modulePrevNext{
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.prevBtn{
  margin-left: 10vw;
}

.nextBtn{
  margin-right: 10vw;
}
/*/////////////////// END MODULE PREV-NEXT BUTTONS ////////////////////*/


/*/////////////////// START MODULE PREV-NEXT BUTTONS ////////////////////*/
button{
  background:none;
  border: none;
  text-decoration: none;
}

a:visited{
  color: black;
}

a:link, a:visited {
  text-decoration: none;
}

a {
  color: black;
}


.modulePrevNext{
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.prevBtn{
  margin-left: 10vw;
}

.nextBtn{
  margin-right: 10vw;
}

.mod2btn{
  margin-left: auto;
}

.home{
  margin-top: 2vw;
  margin-left: 2vw;
}
/*/////////////////// END MODULE PREV-NEXT BUTTONS ////////////////////*/


/*/////////////////// START SITE DEV PROGRESS PAGE////////////////////*/
.gridLayout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.progressContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}
/*/////////////////// END SITE DEV PROGRESS PAGE ////////////////////*/


/*/////////////////// START GENERAL ////////////////////*/
body{
  margin: 0;
  background-image: url("../ASSETS/paperbackground.avif");
  color: black;
  cursor: url("../ASSETS/artwork/regMouse.PNG"), auto;
}

a:hover{
  color: var(--random-color);
}

#canvas {
  border: 2px, solid;
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*/////////////////// END GENERAL ////////////////////*/


/*/////////////////// START CONTENT PAGE LINKS POSITIONS ////////////////////*/
#homeBtn{
  position: absolute;
  top: 15vh;
  left: 10vw;
}

#WDBtn{
  position: absolute;
  top: 30vh;
  left: 15vw;
  transform: rotate(-12deg);
}

.hoverbtn:hover{
  color: var(--random-color);
}

#CCBtn{
  position: absolute;
  top: 55vh;
  right: 30vw;
  transform: rotate(-5deg);
}

#PCBtn{
  position: absolute;
  bottom: 2vh;
  left: 10vw;
  transform: rotate(-6deg);
}

#RJBtn{
  position: absolute;
  left: 10vw;
  bottom: 5vh;
  transform: rotate(18deg);
}

#SPBtn{
  position: absolute;
  right: 15vw;
  top: 25vh;
  transform: rotate(12deg);
}

.wdModBtn{
  display: none;
  transition: opacity 0.5s ease-in-out;
}

#wdm1{
  position: absolute;
  left: 10vw;
  top:26vh;
  transform: rotate(-10deg);
}

#wdm2{
  position: absolute;
  left: 30vw;
  top:23vh;
  transform: rotate(10deg);
}

#wdm3{
  position: absolute;
  left: 15vw;
  top: 50vh;
  transform: rotate(-5deg);
}

#wdm4{
  position: absolute;
  left: 45vw;
  top:30vh;
  transform: rotate(-17deg);
}

#wdm5{
  position: absolute;
  left: 32vw;
  top: 45vh;
  transform: rotate(20deg);
}

#ccm6{
  position: absolute;
  left: 45vw;
  top: 50vh;
}

#ccm7{
  position: absolute;
  left: 60vw;
  top: 45vh;
}

#ccm8{
  position: absolute;
  left: 75vw;
  top: 55vh;
}

#ccm9{
  position: absolute;
  left: 70vw;
  top: 75vh;
}

#ccm10{
  position: absolute;
  left: 45vw;
  top: 75vh;
}
/*/////////////////// END CONTENT PAGE LINKS POSITIONS ////////////////////*/


/*/////////////////// START LINK TRANSITIONS ////////////////////*/
.links-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.links-container.show {
  max-height: 1000px; /* Adjust based on your content */
}

.link {
  display: inline-block;
  margin-right: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, margin-right 0.5s ease-in-out;
}

.links-container.show .link {
  opacity: 1;
  margin-right: 0;
}
/*/////////////////// END LINK TRANSITIONS ////////////////////*/

/*/////////////////// START IMAGE SIZING ////////////////////*/
.tinyImg{
  width: 100px;
}

.smallImg{
  width: 200px;
}

.medImg{
  width: 500px;
}

.bigImg{
  width: 650px;
}

.hugeImg{
  width: 800px;
}
/*/////////////////// END IMAGE SIZING ////////////////////*/



/*/////////////////// START ARTWORK ////////////////////*/

.backgroundImg{
  width: 98vw;
  height: 98vh;
  display: flex;
  align-items: flex-end;
  z-index: -2;
}

#background1{
  position: absolute;
  z-index: -2;
  width: 95vw;
}

#background2{
  position: absolute;
  z-index: -2;
  top:120vh;
  width: 95vw;
}

#background3{
  position: absolute;
  z-index: -2;
  top:260vh;
  width: 95vw;
}

#background4{
  position: absolute;
  z-index: -2;
  top:390vh;
  width: 95vw;
}
/*/////////////////// END ARTWORK ////////////////////*/



/*/////////////////// START MEDIA QUERIES ////////////////////*/
@media (max-width: 1250px) {
  
  .moduleContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    align-content: center;
  }

  .moduleText {
    width: 50vw;
  }

  .progressContainer{
    align-content: center;
    align-items: center;
  }
  
}
