
/*//////////////////MODULE FLEX BOXES////////////////////*/
.moduleContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.moduleImage{
  width: 25vw;
}

.moduleText{
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  width: 25vw;
}


.moduleText{
  padding-left: 2rem;
}

.left{
  justify-content: flex-start;
}

.center{
  justify-content: center;
}

.right{
  justify-content: flex-end;
}

.inverse{
  padding-right: 2rem;
}

.inverse .moduleText{
  padding-left: 0;
  padding-right: 2rem;
}
/*/////////////////// END MODULE FLEX BOXES////////////////////*/


/*/////////////////// START MODULE TEXT ////////////////////*/
h1{
  text-align: center;
}

.moduleDescription{
  text-align: center;
  margin: 0rem 10vw 5vh 10vw;
}
/*/////////////////// END MODULE TEXT////////////////////*/


/*/////////////////// START MODULE PREV-NEXT BUTTONS ////////////////////*/
.modulePrevNext{
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.prevBtn{
  margin-left: 10vw;
}

.nextBtn{
  margin-right: 10vw;
}
/*/////////////////// END MODULE PREV-NEXT BUTTONS ////////////////////*/


/*/////////////////// START MODULE PREV-NEXT BUTTONS ////////////////////*/
button{
  background:none;
  border: none;
  text-decoration: none;
}

a:visited{
  color: black;
}

a:link, a:visited {
  text-decoration: none;
}

a {
  color: black;
}


.modulePrevNext{
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.prevBtn{
  margin-left: 10vw;
}

.nextBtn{
  margin-right: 10vw;
}

.mod2btn{
  margin-left: auto;
}

.home{
  margin-top: 2vw;
  margin-left: 2vw;
}
/*/////////////////// END MODULE PREV-NEXT BUTTONS ////////////////////*/


/*/////////////////// START SITE DEV PROGRESS PAGE////////////////////*/
.gridLayout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.progressContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}
/*/////////////////// END SITE DEV PROGRESS PAGE ////////////////////*/


/*/////////////////// START GENERAL ////////////////////*/
body{
  background-image: url("../ASSETS/paperbackground.avif");
  color: black;
  cursor: url("../ASSETS/artwork/regMouse.PNG"), auto;
}

a:hover{
  color: var(--random-color);
}

#canvas {
  border: 2px, solid;
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*/////////////////// END GENERAL ////////////////////*/


/*/////////////////// START CONTENT PAGE LINKS POSITIONS ////////////////////*/
#homeBtn{
  position: absolute;
  top: 15vh;
  left: 10vw;
}

#WDBtn{
  position: absolute;
  top: 30vh;
  left: 30vw;
}

.hoverbtn:hover{
  color: var(--random-color);
}

#CCBtn{
  position: absolute;
  top: 50vh;
  right: 40vw;
}

#PCBtn{
  position: absolute;
  bottom: 10vh;
  left: 10vw;
}

#RJBtn{
  position: absolute;
  right: 10vw;
  bottom: 5vh;
}

#SPBtn{
  position: absolute;
  right: 20vw;
  top: 40vh;
}

.wdModBtn{
  display: none;
  transition: opacity 0.5s ease-in-out;
}

#wdm1{
  position: absolute;
  left: 20vw;
  top:26vh
}

#wdm2{
  position: absolute;
  left: 40vw;
  top:23vh
}

#wdm3{
  position: absolute;
  left: 20vw;
  top:47vh
}

#wdm4{
  position: absolute;
  left: 55vw;
  top:27vh
}

#wdm5{
  position: absolute;
  left: 40vw;
  top: 45vh
}
/*/////////////////// END CONTENT PAGE LINKS POSITIONS ////////////////////*/


/*/////////////////// START LINK TRANSITIONS ////////////////////*/
.links-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.links-container.show {
  max-height: 1000px; /* Adjust based on your content */
}

.link {
  display: inline-block;
  margin-right: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, margin-right 0.5s ease-in-out;
}

.links-container.show .link {
  opacity: 1;
  margin-right: 0;
}
/*/////////////////// END LINK TRANSITIONS ////////////////////*/

/*/////////////////// START IMAGE SIZING ////////////////////*/
.tinyImg{
  width: 100px;
}

.smallImg{
  width: 200px;
}

.medImg{
  width: 500px;
}

.bigImg{
  width: 650px;
}

.hugeImg{
  width: 800px;
}
/*/////////////////// END IMAGE SIZING ////////////////////*/



/*/////////////////// START ARTWORK ////////////////////*/
.artContainer{
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}

.topleft{
  position: absolute;
  top: 10vh;
  left: 10vw;
}

.topcenter{
  position: absolute;
  top: 10vh;
  left: 45vw;
}

.topright{
  position: absolute;
  top: 10vh;
  right: 10vw;
}

.midleft{
  position: absolute;
  top: 50vh;
  left: 10vw;
}

.midcenter{
  position: absolute;
  top: 45vh;
  left: 50vw;
}

.midright{
  position: absolute;
  top: 50vh;
  right: 10vw;
}

.bottomleft{
  position: absolute;
  bottom: 10vh;
  left: 10vw;
}

.bottomcenter{
  position: absolute;
  bottom: 10vh;
  left: 45vw;
}

.bottomright{
  position: absolute;
  bottom: 10vh;
  right: 10vw;
}

/*/////////////////// END ARTWORK ////////////////////*/